.log {
    margin: 10px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgb(79,51,27);
    background: #FCB43A;
}

.logHeader {
    display: flex;
    justify-content: space-around;
    padding-top: .5rem
}

.logBtn {
    margin-bottom: 1rem;
    border: none !important;
}