@import "./apiaries/Apiary.css";
@import "./hives/Hive.css";
@import "./logs/Log.css";

.mainContainer {
    text-align: center;
    background-color: #F3C622;
    height: 100vh;   
}

.logo {
    margin-top: 1rem;
    max-width: 75px;
    max-height: 40px;
}

button.addBtn {
    padding: 0.3rem 0.7rem;
    background: #969696;
    border: none;
    font-size: 1.3rem;
}

.listHead {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
